/* Fontes principais*/
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/* Estilos globais */
:root {
  /* Cores principais */
  --color-background: #121212;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b0b0b0;
  --color-brand-green: #4caf50;
  --color-brand-green-light: #66bb6a;
  --color-counter-bg: #1b4332;
  --color-counter-text: #80e27e;
  --color-divider: #2c2c2c;
}

header.navegacao{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
}